<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="RepoRove Release Smoke" android:allowBackup="false" />
    <instrumentation
        android:name=".ReleaseSmokeInstrumentation"
        android:targetPackage="app.reporove"
        android:label="RepoRove optimized APK smoke" />
</manifest>
